    <div class="conatiner d-flex justify-content-center align-items-start mt-5 flex-column">
        <h2 class="mt-5 mb-5 choose-title col-md-10 col-12 mx-auto text-start">Why Choose Us</h2>
    <div class="chooseUs-con col-md-10 com-12 mx-auto d-flex justify-content-center align-items-center flex-column  mt-3">
      <div class="chooseUs-title col-md-10 com-12 mx-auto text-start">
      </div>
      <div class="chooseUs-box d-flex justify-content-center align-items-center ">
        <div class="card choose-us" style="width: 15rem;">
          <img src="https://wp-themes.com/wp-content/themes/astra/inc/assets/images/starter-content/passionate.svg" class="card-img-top">
          <div class="card-body">
            <h2 class="mt-3">Passionate</h2>
            <p class="card-text mt-3">
              Passionate web developer with a drive to create engaging and user-friendly digital experiences.
            </p>
          </div>
        </div>
        <div class="card choose-us" style="width: 15rem;">
          <img src="https://wp-themes.com/wp-content/themes/astra/inc/assets/images/starter-content/professional.svg" class="card-img-top">
          <div class="card-body">
            <h2 class="mt-3">Professional</h2>
            <p class="card-text mt-3">
              Experienced professional web developer creating stunning, functional, and user-friendly websites.
            </p>
          </div>
        </div>
        <div class="card choose-us" style="width: 15rem;">
          <img src="https://wp-themes.com/wp-content/themes/astra/inc/assets/images/starter-content/support.svg" class="card-img-top">
          <div class="card-body">
            <h2 class="mt-3">Support</h2>
            <p class="card-text mt-3">
              A web developer creates and maintains websites, and responsive to user interactions.
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>