<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h6 class="text-uppercase">Importent Links</h6>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#" class="text-dark">Home</a>
          </li>
          <li>
            <a href="#" class="text-dark">About</a>
          </li>
          <li>
            <a href="#" class="text-dark">Contact</a>
          </li>
          <li>
            <a href="#" class="text-dark">Services</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h6 class="text-uppercase mb-0">Follow Us</h6>

        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-dark">Youtube</a>
          </li>
          <li>
            <a href="#" class="text-dark">Instagram</a>
          </li>
          <li>
            <a href="#" class="text-dark">Facebook</a>
          </li>
          <li>
            <a href="#" class="text-dark">Linkdin</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://stomilar.site/">stomilar</a>
  </div>
  <!-- Copyright -->
</footer>