<!-- /* HEADER */ -->
    <header>
        <div class="logo"><a href="/">stomilar</a></div>
    </header>
    
<!-- /* HERO SECTION */ -->
<section class="parallax">
  <img src="hill1.png" id="hill1">
  <img src="hill2.png" id="hill2">
  <img src="hill3.png" id="hill3">
  <img src="hill4.png" id="hill4">
  <img src="hill5.png" id="hill5">
  <img src="tree.png" id="tree">
  <h2 class="text" id="text">Capture the Serenity of the Wild</h2>
  <img src="leaf.png" id="leaf">
  <img src="plant.png" id="plant">
</section>