 <div class="services container-fluid">
    <div class="service-des  d-flex align-items-center justify-content-center flex-column">
      <h2 class="mt-4">Discovering the Beauty of the Natural World</h2>
      <p class="mt-2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat sequi, dolore at minima ipsa, amet! Explicabo molestias consequuntur impedit, earum?
      </p>
    </div>

    <div class="service-boxes  d-flex align-items-center justify-content-center flex-column">
      <hr class="hr">
      <div class="service-box pb-2 pt-2   d-flex align-items-center justify-content-center">
        <span><h3>01/</h3></span>
        <span style="width: 200px;"><h2>Flowers</h2></span>
        <span class="text-end d-flex align-items-center justify-content-center"><i class="fa-solid fa-arrow-right" id="service-icon"></i></span>
      </div>
      <hr class="hr">
      <div class="service-box pb-2 pt-2   d-flex align-items-center justify-content-center">
        <span><h3>02/</h3></span>
        <span style="width: 200px;"><h2>Fruits</h2></span>
        <span class="text-end d-flex align-items-center justify-content-center"><i class="fa-solid fa-arrow-right" id="service-icon"></i></span>
      </div>
      <hr class="hr">
      <div class="service-box pb-2 pt-2   d-flex align-items-center justify-content-center">
        <span><h3>03/</h3></span>
        <span style="width: 200px;"><h2>Plants</h2></span>
        <span class="text-end d-flex align-items-center justify-content-center"><i class="fa-solid fa-arrow-right" id="service-icon"></i></span>
      </div>
      <hr class="hr">
    </div>
  </div>